
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    margin: 0;
    
}
p{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
   font-size: 19px;
}